# pip install -r requirements.txt

# standard libs
websockets==14.*
httpx==0.*
dataclasses-json==0.*
dataclasses==0.*
typing_extensions==4.*
aenum==3.*
deprecation==2.*

# Async functionality, likely to be already installed
aiohttp==3.*
aiofiles==23.*
