# pip install -r requirements.txt

# standard libs
websockets
httpx
dataclasses-json
dataclasses
typing_extensions
python-dotenv

# streaming libs
pyaudio

# Async functionality, likely to be already installed
asyncio
aiohttp

# Testing
pytest
pytest-asyncio
fuzzywuzzy
pytest-cov