# This file was auto-generated by Fern from our API Definition.

from __future__ import annotations

import typing
import urllib.parse
from contextlib import asynccontextmanager, contextmanager

import websockets.sync.client as websockets_sync_client
from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.jsonable_encoder import jsonable_encoder
from ...core.query_encoder import encode_query
from ...core.remove_none_from_dict import remove_none_from_dict
from ...core.request_options import RequestOptions
from ...core.websocket_compat import InvalidWebSocketStatus, get_status_code
from ...types.listen_v1callback import ListenV1Callback
from ...types.listen_v1callback_method import ListenV1CallbackMethod
from ...types.listen_v1channels import ListenV1Channels
from ...types.listen_v1detect_entities import ListenV1DetectEntities
from ...types.listen_v1diarize import ListenV1Diarize
from ...types.listen_v1dictation import ListenV1Dictation
from ...types.listen_v1encoding import ListenV1Encoding
from ...types.listen_v1endpointing import ListenV1Endpointing
from ...types.listen_v1extra import ListenV1Extra
from ...types.listen_v1interim_results import ListenV1InterimResults
from ...types.listen_v1keyterm import ListenV1Keyterm
from ...types.listen_v1keywords import ListenV1Keywords
from ...types.listen_v1language import ListenV1Language
from ...types.listen_v1mip_opt_out import ListenV1MipOptOut
from ...types.listen_v1model import ListenV1Model
from ...types.listen_v1multichannel import ListenV1Multichannel
from ...types.listen_v1numerals import ListenV1Numerals
from ...types.listen_v1profanity_filter import ListenV1ProfanityFilter
from ...types.listen_v1punctuate import ListenV1Punctuate
from ...types.listen_v1redact import ListenV1Redact
from ...types.listen_v1replace import ListenV1Replace
from ...types.listen_v1sample_rate import ListenV1SampleRate
from ...types.listen_v1search import ListenV1Search
from ...types.listen_v1smart_format import ListenV1SmartFormat
from ...types.listen_v1tag import ListenV1Tag
from ...types.listen_v1utterance_end_ms import ListenV1UtteranceEndMs
from ...types.listen_v1vad_events import ListenV1VadEvents
from ...types.listen_v1version import ListenV1Version
from .raw_client import AsyncRawV1Client, RawV1Client
from .socket_client import AsyncV1SocketClient, V1SocketClient

if typing.TYPE_CHECKING:
    from .media.client import AsyncMediaClient, MediaClient

try:
    from websockets.legacy.client import connect as websockets_client_connect  # type: ignore
except ImportError:
    from websockets import connect as websockets_client_connect  # type: ignore


class V1Client:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawV1Client(client_wrapper=client_wrapper)
        self._client_wrapper = client_wrapper
        self._media: typing.Optional[MediaClient] = None

    @property
    def with_raw_response(self) -> RawV1Client:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawV1Client
        """
        return self._raw_client

    @contextmanager
    def connect(
        self,
        *,
        callback: typing.Optional[ListenV1Callback] = None,
        callback_method: typing.Optional[ListenV1CallbackMethod] = None,
        channels: typing.Optional[ListenV1Channels] = None,
        detect_entities: typing.Optional[ListenV1DetectEntities] = None,
        diarize: typing.Optional[ListenV1Diarize] = None,
        dictation: typing.Optional[ListenV1Dictation] = None,
        encoding: typing.Optional[ListenV1Encoding] = None,
        endpointing: typing.Optional[ListenV1Endpointing] = None,
        extra: typing.Optional[ListenV1Extra] = None,
        interim_results: typing.Optional[ListenV1InterimResults] = None,
        keyterm: typing.Optional[ListenV1Keyterm] = None,
        keywords: typing.Optional[ListenV1Keywords] = None,
        language: typing.Optional[ListenV1Language] = None,
        mip_opt_out: typing.Optional[ListenV1MipOptOut] = None,
        model: ListenV1Model,
        multichannel: typing.Optional[ListenV1Multichannel] = None,
        numerals: typing.Optional[ListenV1Numerals] = None,
        profanity_filter: typing.Optional[ListenV1ProfanityFilter] = None,
        punctuate: typing.Optional[ListenV1Punctuate] = None,
        redact: typing.Optional[ListenV1Redact] = None,
        replace: typing.Optional[ListenV1Replace] = None,
        sample_rate: typing.Optional[ListenV1SampleRate] = None,
        search: typing.Optional[ListenV1Search] = None,
        smart_format: typing.Optional[ListenV1SmartFormat] = None,
        tag: typing.Optional[ListenV1Tag] = None,
        utterance_end_ms: typing.Optional[ListenV1UtteranceEndMs] = None,
        vad_events: typing.Optional[ListenV1VadEvents] = None,
        version: typing.Optional[ListenV1Version] = None,
        authorization: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[V1SocketClient]:
        """
        Transcribe audio and video using Deepgram's speech-to-text WebSocket

        Parameters
        ----------
        callback : typing.Optional[ListenV1Callback]

        callback_method : typing.Optional[ListenV1CallbackMethod]

        channels : typing.Optional[ListenV1Channels]

        detect_entities : typing.Optional[ListenV1DetectEntities]

        diarize : typing.Optional[ListenV1Diarize]

        dictation : typing.Optional[ListenV1Dictation]

        encoding : typing.Optional[ListenV1Encoding]

        endpointing : typing.Optional[ListenV1Endpointing]

        extra : typing.Optional[ListenV1Extra]

        interim_results : typing.Optional[ListenV1InterimResults]

        keyterm : typing.Optional[ListenV1Keyterm]

        keywords : typing.Optional[ListenV1Keywords]

        language : typing.Optional[ListenV1Language]

        mip_opt_out : typing.Optional[ListenV1MipOptOut]

        model : ListenV1Model
            AI model to use for the transcription

        multichannel : typing.Optional[ListenV1Multichannel]

        numerals : typing.Optional[ListenV1Numerals]

        profanity_filter : typing.Optional[ListenV1ProfanityFilter]

        punctuate : typing.Optional[ListenV1Punctuate]

        redact : typing.Optional[ListenV1Redact]

        replace : typing.Optional[ListenV1Replace]

        sample_rate : typing.Optional[ListenV1SampleRate]

        search : typing.Optional[ListenV1Search]

        smart_format : typing.Optional[ListenV1SmartFormat]

        tag : typing.Optional[ListenV1Tag]

        utterance_end_ms : typing.Optional[ListenV1UtteranceEndMs]

        vad_events : typing.Optional[ListenV1VadEvents]

        version : typing.Optional[ListenV1Version]

        authorization : typing.Optional[str]
            Use your API key for authentication, or alternatively generate a [temporary token](/guides/fundamentals/token-based-authentication) and pass it via the `token` query parameter.

            **Example:** `token %DEEPGRAM_API_KEY%` or `bearer %DEEPGRAM_TOKEN%`

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        V1SocketClient
        """
        ws_url = self._raw_client._client_wrapper.get_environment().production + "/v1/listen"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        "callback": callback,
                        "callback_method": callback_method,
                        "channels": channels,
                        "detect_entities": detect_entities,
                        "diarize": diarize,
                        "dictation": dictation,
                        "encoding": encoding,
                        "endpointing": endpointing,
                        "extra": extra,
                        "interim_results": interim_results,
                        "keyterm": keyterm,
                        "keywords": keywords,
                        "language": language,
                        "mip_opt_out": mip_opt_out,
                        "model": model,
                        "multichannel": multichannel,
                        "numerals": numerals,
                        "profanity_filter": profanity_filter,
                        "punctuate": punctuate,
                        "redact": redact,
                        "replace": replace,
                        "sample_rate": sample_rate,
                        "search": search,
                        "smart_format": smart_format,
                        "tag": tag,
                        "utterance_end_ms": utterance_end_ms,
                        "vad_events": vad_events,
                        "version": version,
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if authorization is not None:
            headers["Authorization"] = str(authorization)
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            with websockets_sync_client.connect(ws_url, additional_headers=headers) as protocol:
                yield V1SocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )

    @property
    def media(self):
        if self._media is None:
            from .media.client import MediaClient  # noqa: E402

            self._media = MediaClient(client_wrapper=self._client_wrapper)
        return self._media


class AsyncV1Client:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawV1Client(client_wrapper=client_wrapper)
        self._client_wrapper = client_wrapper
        self._media: typing.Optional[AsyncMediaClient] = None

    @property
    def with_raw_response(self) -> AsyncRawV1Client:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawV1Client
        """
        return self._raw_client

    @asynccontextmanager
    async def connect(
        self,
        *,
        callback: typing.Optional[ListenV1Callback] = None,
        callback_method: typing.Optional[ListenV1CallbackMethod] = None,
        channels: typing.Optional[ListenV1Channels] = None,
        detect_entities: typing.Optional[ListenV1DetectEntities] = None,
        diarize: typing.Optional[ListenV1Diarize] = None,
        dictation: typing.Optional[ListenV1Dictation] = None,
        encoding: typing.Optional[ListenV1Encoding] = None,
        endpointing: typing.Optional[ListenV1Endpointing] = None,
        extra: typing.Optional[ListenV1Extra] = None,
        interim_results: typing.Optional[ListenV1InterimResults] = None,
        keyterm: typing.Optional[ListenV1Keyterm] = None,
        keywords: typing.Optional[ListenV1Keywords] = None,
        language: typing.Optional[ListenV1Language] = None,
        mip_opt_out: typing.Optional[ListenV1MipOptOut] = None,
        model: ListenV1Model,
        multichannel: typing.Optional[ListenV1Multichannel] = None,
        numerals: typing.Optional[ListenV1Numerals] = None,
        profanity_filter: typing.Optional[ListenV1ProfanityFilter] = None,
        punctuate: typing.Optional[ListenV1Punctuate] = None,
        redact: typing.Optional[ListenV1Redact] = None,
        replace: typing.Optional[ListenV1Replace] = None,
        sample_rate: typing.Optional[ListenV1SampleRate] = None,
        search: typing.Optional[ListenV1Search] = None,
        smart_format: typing.Optional[ListenV1SmartFormat] = None,
        tag: typing.Optional[ListenV1Tag] = None,
        utterance_end_ms: typing.Optional[ListenV1UtteranceEndMs] = None,
        vad_events: typing.Optional[ListenV1VadEvents] = None,
        version: typing.Optional[ListenV1Version] = None,
        authorization: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[AsyncV1SocketClient]:
        """
        Transcribe audio and video using Deepgram's speech-to-text WebSocket

        Parameters
        ----------
        callback : typing.Optional[ListenV1Callback]

        callback_method : typing.Optional[ListenV1CallbackMethod]

        channels : typing.Optional[ListenV1Channels]

        detect_entities : typing.Optional[ListenV1DetectEntities]

        diarize : typing.Optional[ListenV1Diarize]

        dictation : typing.Optional[ListenV1Dictation]

        encoding : typing.Optional[ListenV1Encoding]

        endpointing : typing.Optional[ListenV1Endpointing]

        extra : typing.Optional[ListenV1Extra]

        interim_results : typing.Optional[ListenV1InterimResults]

        keyterm : typing.Optional[ListenV1Keyterm]

        keywords : typing.Optional[ListenV1Keywords]

        language : typing.Optional[ListenV1Language]

        mip_opt_out : typing.Optional[ListenV1MipOptOut]

        model : ListenV1Model
            AI model to use for the transcription

        multichannel : typing.Optional[ListenV1Multichannel]

        numerals : typing.Optional[ListenV1Numerals]

        profanity_filter : typing.Optional[ListenV1ProfanityFilter]

        punctuate : typing.Optional[ListenV1Punctuate]

        redact : typing.Optional[ListenV1Redact]

        replace : typing.Optional[ListenV1Replace]

        sample_rate : typing.Optional[ListenV1SampleRate]

        search : typing.Optional[ListenV1Search]

        smart_format : typing.Optional[ListenV1SmartFormat]

        tag : typing.Optional[ListenV1Tag]

        utterance_end_ms : typing.Optional[ListenV1UtteranceEndMs]

        vad_events : typing.Optional[ListenV1VadEvents]

        version : typing.Optional[ListenV1Version]

        authorization : typing.Optional[str]
            Use your API key for authentication, or alternatively generate a [temporary token](/guides/fundamentals/token-based-authentication) and pass it via the `token` query parameter.

            **Example:** `token %DEEPGRAM_API_KEY%` or `bearer %DEEPGRAM_TOKEN%`

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncV1SocketClient
        """
        ws_url = self._raw_client._client_wrapper.get_environment().production + "/v1/listen"
        _encoded_query_params = encode_query(
            jsonable_encoder(
                remove_none_from_dict(
                    {
                        "callback": callback,
                        "callback_method": callback_method,
                        "channels": channels,
                        "detect_entities": detect_entities,
                        "diarize": diarize,
                        "dictation": dictation,
                        "encoding": encoding,
                        "endpointing": endpointing,
                        "extra": extra,
                        "interim_results": interim_results,
                        "keyterm": keyterm,
                        "keywords": keywords,
                        "language": language,
                        "mip_opt_out": mip_opt_out,
                        "model": model,
                        "multichannel": multichannel,
                        "numerals": numerals,
                        "profanity_filter": profanity_filter,
                        "punctuate": punctuate,
                        "redact": redact,
                        "replace": replace,
                        "sample_rate": sample_rate,
                        "search": search,
                        "smart_format": smart_format,
                        "tag": tag,
                        "utterance_end_ms": utterance_end_ms,
                        "vad_events": vad_events,
                        "version": version,
                        **(
                            request_options.get("additional_query_parameters", {}) or {}
                            if request_options is not None
                            else {}
                        ),
                    }
                )
            )
        )
        if _encoded_query_params:
            ws_url = ws_url + "?" + urllib.parse.urlencode(_encoded_query_params)
        headers = self._raw_client._client_wrapper.get_headers()
        if authorization is not None:
            headers["Authorization"] = str(authorization)
        if request_options and "additional_headers" in request_options:
            headers.update(request_options["additional_headers"])
        try:
            async with websockets_client_connect(ws_url, extra_headers=headers) as protocol:
                yield AsyncV1SocketClient(websocket=protocol)
        except InvalidWebSocketStatus as exc:
            status_code: int = get_status_code(exc)
            if status_code == 401:
                raise ApiError(
                    status_code=status_code,
                    headers=dict(headers),
                    body="Websocket initialized with invalid credentials.",
                )
            raise ApiError(
                status_code=status_code,
                headers=dict(headers),
                body="Unexpected error when initializing websocket connection.",
            )

    @property
    def media(self):
        if self._media is None:
            from .media.client import AsyncMediaClient  # noqa: E402

            self._media = AsyncMediaClient(client_wrapper=self._client_wrapper)
        return self._media
